<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento | Tresbe Distribuidora</title>
</head>
<body>
    <div class="maintenance-container">
        <div class="logo">
            <img src="assets/tresbe.png" alt="Logo">
        </div>
        <h1>VOLVEMOS PRONTO</h1>
        <p>Esta parte de la página se encuentra en mantenimiento, pero volverá a estar activa en poco tiempo!</p>
        <div class="image">
            <img src="assets/maintenance.png" alt="Maintenance Illustration">
        </div>
        <p class="blog-note">Mientras tanto, conocenos un poco mas en nuestras redes! <a href="https://www.instagram.com/somos_tresbe?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Ir a instagram</a></p>
    </div>
</body>
</html>
