<div class="cart">
  <table>
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Eliminar</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let indice = index;">
        <td>
          <img [src]="product.image" [alt]="product.description" draggable="false">
          <div class="product-info">
            <p id="productName">{{ product.name }} {{ product.optionSelected }}</p>
            <p id="productCategory">Categoria: {{ product.category }}</p>
          </div>
        </td>
        <td >
          <button class="quantity-btn" (click)="incrementQuantity(product, indice)">+</button>
          <input type="number" name="quantity" class="quantityInp" id="{{product.id}}" (input)="changeQuantity(product)" value="{{product.quantity}}">
          <button class="quantity-btn" id="decrement" (click)="decrementQuantity(product, indice)">-</button>
        </td>
        <td><button class="remove-btn" (click)="deleteProduct(indice)">x</button></td>
        <td id="price" *ngIf="product.discount == 0">${{ formatNumber(product.price) }}</td>
        <td id="priceDiscount" *ngIf="product.discount > 0">${{ product.priceDiscount.toFixed(1)}}</td>
      </tr>
    </tbody>
  </table>

  <app-checkout-options></app-checkout-options>

  <app-checkout-buttons></app-checkout-buttons>
</div>