<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <div id="container">
        <div class="follow">
            <h2>SEGUINOS</h2>
            <div class="followList">
                <div id="fb" class="social fa fa fa-facebook-square" ><a href=""> Facebook</a></div>
                <div id="ig" class="social fa fa-instagram"><a href=""> Instagram</a></div>
                <div id="tw" class="social fa fa-twitter-square"><a href=""> Twitter</a></div>
                <div id="yt" class="social fa fa-youtube-play"><a href=""> Youtube</a></div>
                <div id="li" class="social fa fa-linkedin-square"><a href=""> LinkedIn</a></div>
            </div>
        </div>
    
        <div class="contact">
            <h2>Contacto</h2>
            <div class="contactList">
                <div id="li" class="social fa fa-phone-square"><a href=""> WhatsApp</a></div>
                <div id="li" class="social fa fa-envelope"><a href=""> eMail</a></div>
            </div>
        </div>
    
        <div class="map">
            <h2>Mapa del sitio</h2>
            <div class="mapList">
                <a href="">Inicio</a>
                <a href="">Productos</a>
                <a href="">Catalogo</a>
                <a href="">Como comprar</a>
                <a href="">Nosotros</a>
            </div>
        </div>
    </div>
</body>
</html>