
.timeline {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 80vh;
    background-color: #fff;
    color: black;
    padding: 2vh;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.timeline-content h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.timeline-content p {
    margin: 5px 0 0;
    font-size: 12px;
    color: #888;
}

/* Hide connecting lines for the first and last item */
.timeline-item:first-child .timeline-icon:before,
.timeline-item:last-child .timeline-icon:before {
    display: none;
}
.confirmed{
    color: rgb(65, 191, 65);
}
.not-confirmed{
    color: rgb(224, 224, 224);
}
@media (min-width: 768px) and (max-width: 1199px) {
    .timeline {
        width: fit-content;
        gap: 20px;
    }
}

/* Mobile devices (landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .timeline {
        width: fit-content;
        flex-direction: column;
    }
    .timeline-item {
        width: 100%;
        margin-bottom: 2vh;
    }
}

/* Mobile devices (portrait) */
@media (max-width: 480px) and (min-width: 280px) {
    .timeline {
        width: fit-content;
        flex-direction: column;
    }
    .timeline-item {
        width: 100%;
        margin-bottom: 2vh;
    }
}

/* Very small devices (portrait) */
@media (max-width: 279px) {
    .timeline {
        width: fit-content;
        flex-direction: column;
    }
    .timeline-item {
        width: 100%;
        margin-bottom: 2vh;
    }
}