<div id="container">
    <div id="bankData">
        <p>Al hacer click en realizar pedido, aguardá a que se complete la operación</p>
        <p>Con el pedido ya realizado, te vamos a notificar cuando tomemos el pedido</p>
        <p>Gracias por elegirnos!</p>
        <p><i class="fa fa-registered" aria-hidden="true"></i>Tresbe Distribuidora</p>
    </div>
    <button *ngIf="!creating" (click)="placeOrder()">Realizar pedido</button>
    <button *ngIf="creating"><i class="fa fa-spinner" id="spinner" aria-hidden="true"></i> Realizando pedido</button>
</div>