<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <swiper-container slides-per-view="1" navigation="true" pagination="true" id="container" speed="10000" loop="false" autoplay="true" css-mode="true">
        <swiper-slide id="slide" *ngFor="let imagen of arraySwiper">
            <img src="{{imagen}}" alt="">
        </swiper-slide>
    </swiper-container>

</body>
</html>