<div id="container">
    <div id="items">
        <p (click)="changeDisplay('myAccount')"><i class="fa fa-user" aria-hidden="true"></i> Mi cuenta</p>
        <p (click)="changeDisplay('myOrders')"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Mis compras</p>
        <p (click)="changeDisplay('privacity')"><i class="fa fa-eye-slash" aria-hidden="true"></i> Privacidad</p>
        <p (click)="changeDisplay('shipment')"><i class="fa fa-truck" aria-hidden="true"></i> Informacion de envíos</p>
        <p (click)="changeDisplay('support')"><i class="fa fa-ticket" aria-hidden="true"></i>Soporte tecnico</p>
    </div>
</div>