#container {
    position: relative;
    margin-left: 1vi;
}

#items {
    display: flex;
    flex-direction: column;
}

:is(p) {
    /* font-family: "Posterama 1919 W01 SemiBold"; */
    /* text-decoration: none; */
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    /* color: rgb(0, 25, 93); */
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
    cursor: pointer;
}

p:hover {
    transform: scale(1.05);
}

.sidebar {
    background-color: #f0f0f5;
    padding: 20px;
    width: 20vi;
    height: 42vi;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 3vi;
}

.sidebar ul li p {
    text-decoration: none;
    width: fit-content;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.submenu {
  max-height: 0;
  display: none;
  padding-left: 15px;
  margin: 0;
  transition: max-height 0.5s ease, display 0.5s ease;
}
.submenu.open {
  max-height: fit-content;
  display: block;
}

.submenu li p:hover {
    transform: scale(1.05);
}

/* Tablets (portrait and landscape) */
@media (min-width: 768px) and (max-width: 1199px) {
    .sidebar {
        width: calc(100vi - 40px);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Small devices (portrait) */
@media (min-width: 481px) and (max-width: 767px) {
    .sidebar {
        width: calc(100vi - 20px);
        height: auto;
        padding: 15px;
    }
    #container {
        margin-left: 2vi;
    }
    .sidebar ul li {
        margin-bottom: 2vi;
    }
}

/* Mobile devices (portrait) */
@media (max-width: 480px) and (min-width: 280px) {
    .sidebar {
        width: calc(100vi - 20px);
        height: auto;
        padding: 10px;
    }
    #container {
        margin-left: 3vi;
    }
    .sidebar ul li {
        margin-bottom: 1.5vi;
    }
}

/* Very small devices (portrait) */
@media (max-width: 279px) {
    .sidebar {
        width: calc(100vi - 20px);
        height: auto;
        padding: 5px;
    }
    #container {
        margin-left: 4vi;
    }
    .sidebar ul li {
        margin-bottom: 1vi;
    }
}
