.align{
    display: flex;
    img{
        width: 50%;
        object-fit: cover;
    }
}

@media (min-width: 1200px) {}
@media (min-width: 768px) and (max-width: 1199px) {}
@media (min-width: 481px) and (max-width: 767px) {
    .align{
        flex-direction: column;
        img{
            width: 100%;
        }
    }
}
@media (max-width: 480px) and (min-width: 280px) {
    .align{
        flex-direction: column;
        img{
            width: 100%;
        }
    }
}
@media (max-width: 279px) {}