<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-nav-bar></app-nav-bar>
    <div id="align" *ngIf="!sended">
        <div id="container">
            <i class="fa fa-sign-in fa-5x" id="loginIcon" aria-hidden="true"></i>
            <p id="loginMessage">RECUPERAR CONTRASEÑA</p>
        
            <label for="email">Email</label>
            <input type="email" name="email" id="emailInp" required placeholder="miEmail@gmail.com">
        
            <button id="login" (click)="recoverPassword()">RECUPERAR</button>
    
            <app-user-options></app-user-options>
        </div>
    </div>

    <div id="align" *ngIf="sended">
        <div id="container">
            <i class="fa fa-sign-in fa-5x" id="loginIcon" aria-hidden="true"></i>
            <p id="loginMessage">EMAIL ENVIADO</p>
        
            <p>Si el email ingresado coincide con un email de nuestros datos, recibiras un mail con los datos de tu cuenta</p>
            
        </div>
    </div>

    <app-footer></app-footer>
</body>
</html>