<div id="align">
    <div id="container">
        <p id="loginMessage">ENVIAR COMPROBANTE DE PAGO</p>

        <label for="proofment">Ingrese el comprobante de pago de la transferencia</label>
        <input type="file" name="proofment" id="proofmentInp">

        <button>Enviar</button>
    </div>
    <div id="messages">
        <span class="spanners">- Recordá que una vez enviado el comprobante de pago nosotros tenemos que verificar que el comprobante coincida con las transferencias recibidas en nuestra cuenta</span>
        <br><br>
        <span class="spanners">- Por favor, tené en cuenta antes de enviar el comprobante que si no coincide con nuestros datos en la transferencia tendremos que cancelar la orden</span>
        <br><br>
        <span class="spanners">- En caso de que te hayas equivocado en el envio del comprobante, ponete en contacto lo antes que puedas con nuestro soporte para solucionar el problema</span>
        <br><br>
        <span class="spanners">- Cuando nosotros verifiquemos y comprobemos que los datos enviados por usted coinciden con los datos que tenemos nosotros, le enviaremos un mail con la confirmación de la compra</span>
        <br><br>
    </div>
</div>