#container{
    background-color: rgb(225, 225, 225);
    height: fit-content;
    padding: 5vh;
    border-radius: 5px;
    max-width: 50vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    select{
        border: 1px solid rgb(192, 192, 192);
        border-radius: 10px;
        padding: 10px;
        max-height: 10vh;
        overflow-y: auto;
    }
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 2vh;
}