<div id="container">
    <h1>LISTAS DE PRECIOS</h1>
    <div id="articles">
        <div class="priceList">
            <p (click)="downloadLink('tel')">Lista de precios TEL (PDF)</p>
            <!--<p (click)="downloadLink('../../../assets/prices/tel{{priceList}}.xls', 'TEL')">Lista de precios TEL (Excel)</p>!-->
        </div>
        <div class="priceList">
            <p (click)="downloadLink('mota')">Lista de precios MOTA (PDF)</p>
            <!--<p (click)="downloadLink('../../../assets/prices/mota{{priceList}}.xls', 'MOTA')">Lista de precios MOTA (Excel)</p>!-->
        </div>
        <div class="priceList">
            <p (click)="downloadLink('total')">Lista de precios TOTAL (PDF)</p>
            <!--<p (click)="downloadLink('../../../assets/prices/total{{priceList}}.xls', 'TOTAL')">Lista de precios TOTAL (Excel)</p>!-->
        </div>
        <!--<div class="priceList">
            <p (click)="downloadLink('fana')">Lista de precios FANA QUIMICA (PDF)</p>
            <p (click)="downloadLink('../../../assets/prices/fana{{priceList}}.xls', 'FANA')">Lista de precios FANA QUIMICA (Excel)</p>!
        </div>!-->
    </div>
</div>