<div id="align">
    <div id="container">
        <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
        <p id="loginMessage">REGISTRARSE</p>

        <div id="dataText">
            <label for="email">Email</label>
            <input type="email" name="email" id="emailInp" [(ngModel)]="searchTerm" (input)="verifyEmail()" placeholder="miEmail@gmail.com">
            <div id="emailMessages" class="messages">
                <p *ngIf="emailRepeated">El email ya se encuentra registrado</p>
                <p *ngIf="noMail">No puede dejar el email vacío</p>
            </div>

            <label for="username">Nombre de usuario</label>
            <input type="text" name="username" [(ngModel)]="usernameTerm" (input)="noUsername=false" id="usernameInp">
            <div id="usernameMessages" class="messages">
                <p *ngIf="noUsername">No puede dejar el usuario vacío</p>
            </div>

            <div *ngIf="isAdmin()" id="priceDiv">
                <label for="priceList">Lista de precios</label>
                <input type="text" name="priceList" [(ngModel)]="priceTerm" id="priceListInp">
            </div>
    
            <label for="password">Contraseña</label>
            <div id="passwordMessages" class="messages">
                <p *ngIf="!passwordFormat">La contraseña no cumple con los requisitos</p>
                <p *ngIf="noPass">No puede dejar la contraseña vacía</p>
            </div>
            <input type="password" name="password" [(ngModel)]="passTerm" (input)="verifyPassword()" id="passwordInp" required>

        </div>

        <p id="requirements">La contraseña debe incluir como minimo 1 mayuscula, 1 minuscula y 1 numero, siendo minimamente de 8 caracteres.</p>
    
        <button id="login" (click)="createUser()">REGISTRARSE</button>

        <app-user-options></app-user-options>

        <p id="registered" *ngIf="dataCreated">Te registraste correctamente!</p>

    </div>
</div>