#container{
    display: flex;
    flex-direction: column;
    height: 40vi;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    p{
        letter-spacing: 1px;
    }
}
#spinner{
    animation: spin 0.5s linear infinite;
}