#items{
    display: flex;
    width: 100vi;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .itemsDiv{
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  #privacityDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vi;
  }

  #shipment{
    margin-left: 2vi;
  }

  /* Tablets (portrait and landscape) */
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
      width: 90%;
      flex-direction: column;
  }
  #items, #privacityDiv {
      width: 100%;
      flex-direction: column;
  }
}

/* Mobile devices (landscape) */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
      width: 100%;
      flex-direction: column;
  }
  #items, #privacityDiv {
      width: 100%;
      flex-direction: column;

  }
}

/* Mobile devices (portrait) */
@media (max-width: 480px) and (min-width: 280px) {
  .container {
      width: 100%;
      flex-direction: column;
  }
  .itemsDiv{
    flex-direction: column;
  }
  #items, #privacityDiv {
      width: 100%;
      flex-direction: column;
      height: fit-content;
  }
}

/* Very small devices (portrait) */
@media (max-width: 279px) {
  .container {
      width: 100%;
      flex-direction: column;
  }
  #items, #privacityDiv {
      width: 50vi;
      flex-direction: column;
  }
}