<div id="container">
    <div id="items">
        <app-options-user></app-options-user>
      <div class="itemsDiv">
        <app-shipment-data id="shipment" *ngIf="displayed == 'shipment'"></app-shipment-data>
        <app-tech-support id="support" *ngIf="displayed == 'support'"></app-tech-support>
        <app-my-account *ngIf="displayed == 'myAccount'"></app-my-account>
        <app-my-boughts *ngIf="displayed == 'myOrders'"></app-my-boughts>
        <app-not-available *ngIf="displayed == 'privacity'"></app-not-available>
        <app-search-coupon *ngIf="displayed == 'coupon'"></app-search-coupon>
        <!--<div id="privacityDiv">
            <app-privacity *ngIf="displayed == 'privacity'"></app-privacity>
            <app-change-details *ngIf="displayed == 'privacity'"></app-change-details>
        </div> !-->
        <app-admin-support *ngIf="displayed == 'adminSupport' && isAdmin()"></app-admin-support>
        <app-orders-info-completed *ngIf="displayed == 'myOrders' || displayed == 'myAccount' || displayed == 'adminSupport' || displayed == 'coupon'"></app-orders-info-completed>
      </div>
    </div>
</div>