<div id="container">
    <div id="items">
        <app-options-user></app-options-user>
        <app-my-account *ngIf="displayed == 'myAccount'"></app-my-account>
        <app-my-boughts *ngIf="displayed == 'myOrders'"></app-my-boughts>
        <app-privacity *ngIf="displayed == 'privacity'"></app-privacity>
        <app-shipment-data *ngIf="displayed == 'shipment'"></app-shipment-data>
        <app-tech-support *ngIf="displayed == 'support'"></app-tech-support>
        <app-admin-support *ngIf="displayed == 'adminSupport' && isAdmin()"></app-admin-support>
        <app-orders-info-completed *ngIf="displayed == 'myOrders' || displayed == 'myAccount'"></app-orders-info-completed>
    </div>
</div>