<div id="checkoutContainer">
    <div id="discount" class="checkout">
      <p class="nameCheckout">Descuento</p>
      <p>${{discount.toFixed(1)}}</p>
    </div>
    <div id="delivery" class="checkout">
      <p class="nameCheckout">Envio</p>
      <p>${{delivery.toFixed(1)}}</p>
    </div>
    <div id="subTotal" class="checkout">
      <p class="nameCheckout">Subtotal</p>
      <p>${{subtotal.toFixed(1)}}</p>
    </div>
    <div id="total" class="checkout">
      <p class="nameCheckout">Total</p>
      <p>${{total.toFixed(1)}}</p>
    </div>
  </div>