<div id="checkoutContainer">
    <div id="discount" class="checkout">
      <p class="nameCheckout">Descuento</p>
      <p>${{formatNumber(discount)}}</p>
    </div>
    <div id="delivery" class="checkout">
      <p class="nameCheckout">Envio</p>
      <p>${{formatNumber(delivery)}}</p>
    </div>
    <div id="subTotal" class="checkout">
      <p class="nameCheckout">Subtotal</p>
      <p>${{formatNumber(subtotal)}}</p>
    </div>
    <div id="total" class="checkout">
      <p class="nameCheckout">Total</p>
      <p>${{formatNumber(total)}}</p>
    </div>
  </div>