<body>
    <div id="added" class="alerts" *ngIf="added"><i class="fa fa-check-circle fa-3x" aria-hidden="true"></i><p> Producto cargado con exito</p></div>
    <div id="modified" class="alerts" *ngIf="modified && !toModify"><i class="fa fa-check-circle fa-3x" aria-hidden="true"></i><p> Producto modificado con exito</p></div>
    <div id="optionModified" class="alerts" *ngIf="optionUpdated"><i class="fa fa-check-circle fa-3x" aria-hidden="true"></i> Opción del producto modificada</div>
    <div id="container">
        <h1>CARGA DE PRODUCTOS</h1>
        <div class="data">
            <div class="dataText">
                <label for="name">Nombre de Producto</label>
                <input type="text" class="productInfo" name="name" [value]="getValue('name')" id="nameInp">
    
                <label for="category">Categoría</label>
                <input type="text" class="productInfo" name="category" [value]="getValue('category')" id="categoryInp">
    
                <label for="brand">Marca</label>

                <select name="brand" class="productInfo" [(ngModel)]="brand" id="brandSelect" (change)="changeBrand($event)">
                    <option *ngFor="let brand of brands" [value]="brand.name" >{{brand.name}}</option>
                </select>
    
                <label for="image">Imagen</label>
                <input type="text" name="image" class="productInfo" [value]="getValue('image')" id="imageInp">
    
            </div>
    
            <div id="prices">
                <label for="discount">Descuento (En porcentaje, ejemplo 0.05)</label>
                <input type="number" name="discount" class="productInfo" [value]="getValue('discount')" id="discountInp">

                <label for="description">Descripción</label>
                <input type="text" name="description" class="productInfo" [value]="getValue('description')" id="descriptionInp">
    
                <label for="stock">Stock</label>
                <input type="number" name="stock" class="productInfo" [value]="getValue('stock')" id="stockInp">
    
                <button *ngIf="(!onModify)" (click)="addNewProduct()">AGREGAR</button>
                <button *ngIf="onModify && !toModify" (click)="modify()">MODIFICAR</button>
                <button *ngIf="toModify" (click)="modifyOneProduct()">CAMBIAR</button>
            </div>
        </div>
    </div>

    <div class="featureData">
        <div class="features">
            <div *ngFor="let feature of features; let indice = index" class="feature">
                <div>
                    <label for="name">Caracteristica</label>
                    <input type="text" class="productInfo"  name="name" value="{{feature.name}}" id="{{feature.name}}">
                </div>
                <div>
                    <label for="value">Valor</label>
                    <input type="text" class="productInfo" name="value" value="{{feature.value}}" id="{{feature.value}}">
                </div>
                <div id="buttons">
                    <button (click)="modifyFeatures(feature, indice)">Modificar</button>
                    <button id="delete" (click)="deleteFeature(feature.id, indice)">Eliminar</button>
                </div>
            </div>
            <div class="feature">
                <div>
                    <label for="name">Caracteristica</label>
                    <input type="text" name="name" id="featureInp">
                </div>
                <div>
                    <label for="value">Valor</label>
                    <input type="text" name="value" id="featureValueInp">
                </div>
                <button (click)="addFeature()">Agregar</button>
            </div>
        </div>
    </div>

    <div class="optionData">
        <div class="options">
            <div id="containerSelect">
                <label for="select" id="labSelect">Seleccione la opción a modificar</label>
            <select name="" id="" [(ngModel)]="optionTerm" (change)="selectOption(optionTerm)">
                <option *ngFor="let option of options" value="{{option.name}}">{{option.name}}</option>
            </select>
            </div>
            <div class="option">
                <div>
                    <label for="name">Opción</label>
                    <input type="text"  name="name" value="{{optionSelected.name}}" id="{{optionSelected.id}}">
                </div>
                <div class="priceList">
                    <label for="modifyPrice1">Costo de producto</label>
                    <input type="number" name="modifyPrice1" [value]="productList.costPrice" id="modifyCostPriceInp">
                </div>
                <div id="buttons">
                    <button (click)="modifyOptions(optionSelected, 1)">Modificar</button>
                    <button id="delete" (click)="deleteOption(optionSelected.id)">Eliminar</button>
                </div>
            </div>
            
            <label for="addOption">Agregue una nueva opción</label>

            <div class="option">
                <div id="optionInputs">
                    <label for="optionName">Opción</label>
                    <input type="text" name="optionName" id="optionInp">
                </div>
                <div class="priceList">
                    <label for="price1">Costo de producto</label>
                    <input type="number" name="price1" id="costPriceInp">
                </div>
                <button (click)="addOption()">Agregar</button>
            </div>
        </div>
    </div>
    
</body>