<body>
    <div class="container">
        <div class="stats">
            <div class="stat-item">
                <h3>+3000</h3>
                <p>ÍTEMS DE PRODUCTOS</p>
            </div>
            <div class="stat-item">
                <h3>+20</h3>
                <p>AÑOS DE TRAYECTORIA</p>
            </div>
            <div class="stat-item">
                <h3>+35000m<sup>2</sup></h3>
                <p>DE INSTALACIONES PRODUCTIVAS</p>
            </div>
            <div class="stat-item">
                <h3>+1000</h3>
                <p>PUNTOS DE VENTA EN EL PAÍS</p>
            </div>
        </div>
    </div>
</body>