<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <app-nav-bar></app-nav-bar>
    <div id="container">
        <div id="product-info">
            <h1>{{productSelected.name}}</h1>
            <p>Categoria: {{productSelected.category}}</p>
            <p>Descripcion: {{productSelected.description}}</p>
            <p>STOCK: {{productSelected.stock}}</p>
            <h2>CARACTERISTICAS</h2>
            <div id="features">
                <div id="feature" *ngFor="let feature of productSelected.features">
                    <p>{{feature.name}}:</p>
                    <p>{{feature.value}}</p>
                </div>
            </div>
            <p id="price">${{formatNumber(productSelected.price)}}</p>
            <div id="containerButtons">
                <button class="buttonProducts fa fa-credit-card" *ngIf="!isAdmin()" (click)="addToCart()" [routerLink]="['/checkout']"> COMPRAR</button>
                <button routerLink="" class="buttonProducts fa fa-pencil-square-o" *ngIf="isAdmin()"> MODIFICAR</button>
                <button routerLink="/products" class="buttonProducts fa fa-pencil-square-o" *ngIf="isAdmin()"> ELIMINAR</button>
                <button id="add" (click)="addToCart()" class="buttonProducts fa fa-shopping-cart" *ngIf="!isOnCart() && !isAdmin()"> AÑADIR AL CARRITO</button>
                <button id="onCart" routerLink="/cart" class="buttonProducts fa fa-shopping-cart" *ngIf="isOnCart() && !isAdmin()" > EN EL CARRITO</button>
            </div>
        </div>
        <img id="imagen" src="{{productSelected.image}}" alt="">
    </div>
    <app-footer></app-footer>
</body>
</html>