<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{productSelected.name}} | Tresbe Distribuidora</title>
</head>
<body>
    <app-nav-bar></app-nav-bar>
    <div id="container">
      <img src="{{productSelected.image}}" alt="">
      <div class="product-page">
        <div class="product-title">{{productSelected.name}}</div>
        <div class="product-code">Categoría: {{productSelected.category}}</div>
        <div class="reviews"><span>★★★★★</span> <a href="#" class="reviews">2 reviews</a></div>
        <div class="price" *ngIf="productSelected.discount == 0">${{productSelected.price}}</div>
        <div class="price" *ngIf="productSelected.discount > 0">${{productSelected.priceDiscount}}</div>
        <div class="add-to-bag" *ngIf="!isOnCart()" (click)="addToCart()">Añadir al carrito</div>
        <div class="add-to-bag" *ngIf="isOnCart()" [routerLink]="['/cart']">En carrito</div>
        <div class="product-options">
            <select *ngIf="options.length > 0" name="options" (change)="isOnCart()" id="prodOptions">
                <option *ngFor="let option of options" value="{{option.name}}">{{option.name}}</option>
            </select>
        </div>
        <div class="product-options">
            <div class="option-title">DESCRIPCIÓN</div>
            <div id="description">{{productSelected.description}}</div>
        </div>
        <div class="product-options">
            <div class="option-title">CARACTERISTICAS</div>
            <div class="size-options">
                <div *ngFor="let feature of productSelected.features">
                  <p>{{feature.name}}</p>
                  <p>{{feature.value}}</p>
                </div>
            </div>
        </div>
        <div class="delivery-info">Envíos gratis a Mar Del Plata</div>
    </div>
    </div>    
    <app-footer></app-footer>
</body>
</html>