#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: white;
    padding-top: 2vi;
    padding-bottom: 3vi;
}
#messages{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}
h1{
    letter-spacing: 2px;
}
.messageInfo{
    letter-spacing: 1px;
    width: 60%
}