<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="containsAll">
        <h1>VENI A CONOCERNOS</h1>
        <p>Avenida Colón 3261, Mar Del Plata, Buenos Aires, Argentina</p>
        <p>Horario corrido de lunes a viernes de 08:00 a 17:00</p>
        <p>Los esperamos!</p>
        <img id="tresbe" src="../../../assets/tresbe.png" alt="">
    </div>
</body>
</html>