<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="containsAll">
        <h1>VENI A CONOCERNOS</h1>
        <p>Chacabuco 6311, Mar Del Plata, Buenos Aires, Argentina</p>
        <p>Horario corrido de lunes a jueves de 08:00HS a 17:00HS, viernes de 08:00HS a 16:00HS</p>
        <p>Los esperamos!</p>
        <img id="tresbe" src="../../../assets/afuera1.HEIC" alt="">
    </div>
</body>
</html>