<div id="container">
    <i id="check" class="fa fa-check-circle fa-5x" aria-hidden="true"></i>

    <h1>RESERVASTE TU ORDEN</h1>
    <p id="mailSent">Te enviamos un mail con la confirmación de la reserva a </p>

    <p>No olvides realizar el pago de la orden mediante TRANSFERENCIA BANCARIA a los siguientes datos:</p>

    <div id="bankData">
        <p>CBU: 00028482849293</p>
        <p>BANCO SANTANDER RIO</p>
        <p>ESTEBAN NICOLAS BAZZIANO</p>
        <p>DNI: 00000000</p>
    </div>

    <p>Recordá que tenes un límite de 24 horas para realizar la transferencia, si pasadas las 24 horas no recibimos el comprobante de transferencia la orden quedará desestimada</p>
    <p>Si ya hiciste la transferencia no te olvides de avisarnos!</p>

    <app-order-progress></app-order-progress>
</div>