#align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vi;
    padding-bottom: 5vi;
    font-family: sans-serif;
    font-size: 14px;
    gap: 10px;
}
.containers{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(242, 242, 242);
    padding: 2vi;
    border-radius: 15px;
    border: 1px solid rgb(224, 224, 224);
}
#buttons{
    display: flex;
    gap: 20px;
}
button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 1s ease;
  }
button:hover{
    transform: scale(1.07);
}
  
  #decrease, .changeBy {
    background-color: #f8f9fa;
    color: #007bff;
    border: 1px solid #007bff;
    transition: background-color 1s, transform 1s;
  }
  #increase, .active {
    background-color: #007bff;
    color: white;
  }
  #messages{
    p{
        background-color: rgb(39, 91, 155);
        color: white;
        padding: 1vi;
        border-radius: 15px;
    }
  }
  #spinner{
    animation: spin 1s infinite;
  }