<div id="container">
    <h1 style="text-align: center; letter-spacing: 2px; font-family: Arial, Helvetica, sans-serif;">COMO TRABAJAMOS</h1>
    <p>En TresBE Distribuidora, nos dedicamos a ofrecer soluciones integrales en ferretería y herramientas, brindando productos de alta calidad y un asesoramiento experto. Nuestro objetivo es que tanto profesionales como el público general puedan llevar a cabo sus proyectos de manera eficiente y con los mejores resultados. Nos enorgullecemos de ser un socio confiable, aportando valor a nuestros clientes a través de un servicio personalizado y atención cercana.
    </p>
    <p>Nuestra misión es ofrecer soluciones completas en el área de ferretería y herramientas, asegurando productos de calidad superior y asesoramiento especializado. Nos comprometemos a acompañar a nuestros clientes en cada etapa de sus proyectos, facilitando el éxito con atención personalizada y un servicio eficiente.
    </p>
    <p>Nuestra visión es convertirnos en la empresa líder en la comercialización de artículos de ferretería y herramientas en nuestra región. Queremos ser reconocidos por la excelencia en el servicio al cliente, la amplia variedad y calidad de nuestros productos, así como nuestro enfoque en la innovación. Aspiramos a expandir nuestra presencia, brindando soluciones sostenibles y eficientes, siempre con el mejor soporte técnico.
    </p>
    <p>Nos encontramos en Mar del Plata, en la calle Chacabuco 6311, con un acceso conveniente desde diferentes partes de la ciudad. Invitamos a nuestros clientes a visitarnos en nuestro local para recibir asesoramiento y explorar nuestra amplia gama de productos.
    </p>
</div>