<div id="container">
    <h1 *ngIf="!isAdmin()">ULTIMAS COMPRAS</h1>
    <h1 *ngIf="isAdmin()">PEDIDOS</h1>
    <p *ngIf="isAdmin()">Usuario: {{user.username}}</p>
    <div id="form">
        <label for="search">Buscá la orden que desees</label>
        <input type="text" name="search" id="searchInp" placeholder="Código de orden">
        <button (click)="searchOrder()">Buscar</button>
    </div>
    <div class="items" *ngFor="let oap of ordersAndProducts" (click)="changeDisplay('myOrders', oap.order.id)">
        <div id="dateCode" class="itemsChild">
            <p>#{{oap.order.code}}</p>
            <p *ngIf="isAdmin()">{{oap.order.username}}</p>
            <p>{{getDates(oap.order.orderDate)}}</p>
        </div>
        <div class="itemsChild">
            <div *ngFor="let product of oap.products | slice:0:2" class="products">
                <p>{{product.name.toLowerCase()}} {{product.optionSelected}} x{{product.quantity}}</p>
            </div>
        </div>
        <p *ngIf="oap.products.length > 2">Ver todos los productos</p>
        <p>PRECIO TOTAL: ${{oap.order.total.toLocaleString()}}</p>
    </div>
    <div *ngIf="ordersAndProducts.length == 0" id="noOrders">
        <i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i>
        <p>No tenes ninguna compra realizada hasta el momento</p>
    </div>
</div>