<div id="container">
    <h1>ULTIMAS COMPRAS</h1>
    <p *ngIf="isAdmin()">Usuario: {{user.username}}</p>
    <div class="items" *ngFor="let oap of ordersAndProducts" (click)="changeDisplay('myOrders', oap.order.id)">
        <div id="dateCode">
            <p>#{{oap.order.code}}</p>
            <p>{{getDates(oap.order.orderDate)}}</p>
        </div>
        <div *ngFor="let product of oap.products | slice:0:2">
            <p>{{product.name}} {{product.optionSelected}} x{{product.quantity}}</p>
        </div>
        <p *ngIf="oap.products.length > 2">Ver todos los productos</p>
        <p>PRECIO TOTAL: {{oap.order.total}}</p>
    </div>
    <div *ngIf="ordersAndProducts.length == 0" id="noOrders">
        <i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i>
        <p>No tenes ninguna compra realizada hasta el momento</p>
    </div>
</div>