#containsAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vi;
    h2{
        font-family: sans-serif;
        letter-spacing: 2px;
    }
}
#container{
    display: flex;
    align-items: center;
    justify-self: center;
}
.brands{
    background-color: #4d7e98;
    color: white;
    border: 1px solid black;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
    text-align: center;
    width: 15vh;
    padding: 1vi;
    cursor: pointer;
    transition: background-color 1s ease;
}
.brands:hover{
    background-color: white;
    color: black;
}

.selected-brand{
    background-color: #a4bb43;
}

@media (min-width: 1200px) {}
@media (min-width: 768px) and (max-width: 1199px) {
    #container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .brands{
        min-height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 480px) and (min-width: 280px) {
    #container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .brands{
        width: 15vh;
        font-size: 10px;
    }
}
@media (max-width: 279px) {}