
/*@font-face {
    font-family: 'yolkBold';
    src: url('./assets/Yolk-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'glober';
    src: url('./assets/GloberThinFree.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'globerBold';
    src: url('./assets/GloberSemiBoldFree.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: "Posterama 1919 W01 SemiBold";
    src: url("https://db.onlinewebfonts.com/t/c12aba80d407f92b5e7a8e5e434f96ff.eot");
    src: url("https://db.onlinewebfonts.com/t/c12aba80d407f92b5e7a8e5e434f96ff.eot?#iefix") format("embedded-opentype"),
         url("https://db.onlinewebfonts.com/t/c12aba80d407f92b5e7a8e5e434f96ff.woff2") format("woff2"),
         url("https://db.onlinewebfonts.com/t/c12aba80d407f92b5e7a8e5e434f96ff.woff") format("woff"),
         url("https://db.onlinewebfonts.com/t/c12aba80d407f92b5e7a8e5e434f96ff.ttf") format("truetype"),
         url("https://db.onlinewebfonts.com/t/c12aba80d407f92b5e7a8e5e434f96ff.svg#Posterama 1919 W01 SemiBold") format("svg");
    font-display: swap;
}*/
@font-face {
    font-family: "Posterama 1919 W01 SemiBold";
    src: url('./assets/Posterama1919W04-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'real';
    src: url('./assets/RealHeadWebW01Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
button{
    color: black;
}
body{
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Previene desplazamiento horizontal */
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
    overscroll-behavior: none; /* Evita el rebote o la sobrecarga al llegar al fondo */
    -webkit-overflow-scrolling: touch; /* Habilita el desplazamiento suave en iOS */
    scroll-behavior: smooth; /* Desplazamiento suave */
    /*background: linear-gradient(to right, #0097b0, #7ed959);*/
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  img {
    -webkit-user-drag: none; /* Para navegadores basados en WebKit */
    pointer-events: none;    /* Desactiva los eventos del puntero */
  }
  