<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="containsAll">
        <h1>NUESTROS PRODUCTOS</h1>
    <div id="container">
        <div class="product-item" *ngFor="let product of productsArray" routerLink="/products/{{product.id}}">
            <img src="{{product.image}}" alt="{{product.name}}">
            <h2>{{product.name}}</h2>
        </div>
    </div>
    <div id="buttonProducts" [routerLink]="['/products']">Conocé nuestros productos</div>
    </div>
</body>
</html>